@import "ubuntu_mono.css";

body{ font-family: "Ubuntu Mono"; background-color: rgb(48, 10, 36);color: white;}
h1 { font-family: "Ubuntu Mono"; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; }
h3 { font-family: "Ubuntu Mono"; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; }
p { font-family: "Ubuntu Mono"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; }
input, input:focus { font-family: "Ubuntu Mono"; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 600; line-height: 20px; background:none;color:white;border:none;outline: none}
blockquote { font-family: "Ubuntu Mono"; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; }
pre { font-family: "Ubuntu Mono"; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }
